.Rproj.user
.Rhistory
.RData
.Ruserdata
conference/
data/
misc/
gis/
old/
plot/
res/
TMR/docs/
TMR/*.pdf
TMR/*.csv
TMR/data/
TMR/Airbnb Maps/
*_files
.httr-oauth
aurin_wfs_connection.xml
*_cache
conversation/
