.Rproj.user
.Rhistory
.RData
.Ruserdata
conference/
data/
docs/
gis/
old/
plot/
res/
TMR/docs/
TMR/*.pdf
TMR/*.csv
TMR/data/
TMR/Airbnb Maps/
*.html
*_files
tmp/
SyncToy*
.httr-oauth
aurin_wfs_connection.xml
*_cache
conversation/*.Rds
